.DS_Store
tmp/*
ns.xcodeproj/*
ns
test
images
*.dSYM
aclocal.m4
autom4te.cache/
compile
config.status
configure
depcomp
install-sh
makefile
makefile.in
missing
src/.deps/
src/config.h
src/config.h.in
src/config.h.in~
src/makefile
src/makefile.in
src/stamp-h1
src/*.o
src/ns
